<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 3 - Class 2 - 9/29</h1>
</div>

## Objectives for this week:
* If Statements, If and Elif
* Conditional Statements, Nested Conditionals
* While & For loops, Nested Loops
* List Comprehension

## Todays Agenda
* Homework Presentations
* While & For loops, Nested Loops

# Homework Presentations

# Exercise 2

### Given the string below:

In [1]:
original_string = "Supercalifragilisticexpialadocious"

### a. Extract the 3rd and 4th element separately. Return the two values in a tuple

In [ ]:
tupl = original_string[2], original_string[3]
print(tupl)


original_string[2]

### b. Extract the 3rd through 5th element, inclusive.

In [ ]:
original_string[2:5]

### c. Extract the 3rd (inclusive) through 5th (exclusive) element.

In [ ]:
original_string[2:4]

### d. What is the index of "S"? How many elements in the list are "S"? Output the results as a tuple

In [ ]:
s_index = original_string.find('S')
s_count = original_string.count('S')
tup = (s_index, s_count)
print(tup)

### e. What are the last 3 elements of the string?

In [ ]:
original_string[-3:]

### f. Output the string backwards

In [ ]:
original_string[::-1]

# For  Statement

### For loops are traditionally used when you have a block of code which you want to repeat a fixed number of times. The Python for statement iterates over the members of a sequence in order, executing the block each time.

```
    l = [n1, n2, n3, n4, n5]
    
    ...
    code block a
    ...


```


```python
    for x in iterable:
        ...
        code block a
        ...
```

if there are 10 items in the iterable, control block a runs 10 times.

## For loop - `range()`

In [4]:
for x in range(0,5):     # x is the variable is what we're setting, refer to element in loop at the time
    print(x)

0
1
2
3
4

In [1]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

## For loop - nested `range()`

In [7]:
for x in range(0,2):      # for x in range(2) # like Truth tables
    for y in range(0,2):  #     for y in range(2)
        print("x:", x, "y:", y)

x: 0 y: 0
x: 0 y: 1
x: 1 y: 0
x: 1 y: 1

In [8]:
#NEsted for loop within for loop

for x in ['a', 'b']:         # 'a' first
    print(x, "statement")    # handle first code block
    for y in range(2):       # then runs loop completely
        print('x:', x, "y:", y)

a statement
x: a y: 0
x: a y: 1
b statement
x: b y: 0
x: b y: 1

In [9]:
for x in ['a', 'b']:         
    print(x, "statement")   
    #for y in range(2):       
        #print('x:', x, "y:", y)

a statement
b statement

In [3]:
for y in range(2):
    print('x', "y:", y)

x y: 0
x y: 1

### For loop - `str`

In [14]:
s = "string"

for i in s:
    print(i)

s
t
r
i
n
g

## For loop - `list`

In [15]:
l = [1,2,3]
for i in l:
    print(dir(i))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [18]:
l = [1,2,3, 'a']
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [20]:
l = [1,2,3]
for i in l:
    print(i.as_integer_ratio())

(1, 1)
(2, 1)
(3, 1)

In [24]:
l = [1,2,3]
for i in l:
    print(i)

1
2
3

In [5]:
list_a = ['a', 'b', 'c', '1', 2]
for val in list_a:
    if type(val) == str:
        print(val.upper())
    elif type(val) == int:  
        print(val * 100)

A
B
C
1
200

In [15]:
list_b = ['a', 'b', 'c', '1']
length = len(list_b)
for i in range(len(list_b)):    
    for i in enumerate(list_b):
        print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, '1')
(0, 'a')
(1, 'b')
(2, 'c')
(3, '1')
(0, 'a')
(1, 'b')
(2, 'c')
(3, '1')
(0, 'a')
(1, 'b')
(2, 'c')
(3, '1')

In [27]:
l = [[0,1,2],[3,4,5],[6,7,8]]
for i in l:
    for k in i:
        print(k)

0
1
2
3
4
5
6
7
8

## For loop - `dict`

In [17]:

dictionary = {1: "val1", 2: "val2", 3: "val3", 4: "val4"}

In [30]:
# will only return the keys, DON NOT GET VALS

for k in dictionary:
    print(k)

1
2
3
4

In [31]:
for k in dictionary:
    print(type(k))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
dictionary.items()    # remember this

dict_items([(1, 'val1'), (2, 'val2'), (3, 'val3'), (4, 'val4')])

In [33]:
# FOR VALUES TOO

for key,value in dictionary.items():
    print(key,value)

1 val1
2 val2
3 val3
4 val4

In [19]:
for k,v in dictionary.items():   # similar to unpacking, return as a 2-tuple
    print(k,v)
    #sfdsbfe
                   
    
    print("")   # - outside of the loop

1 val1

2 val2

3 val3

4 val4

In [20]:
sum = 0

for k,v in dictionary.items():
    sum += k
    
print(sum)

10

In [21]:


for k,v in dictionary.items():
    if v == 'val4':
        print(k)

4

In [22]:
for element in dictionary.items():
    print(element)

(1, 'val1')
(2, 'val2')
(3, 'val3')
(4, 'val4')

In [23]:
dictionary.values()

dict_values(['val1', 'val2', 'val3', 'val4'])

In [24]:
for value in dictionary.values():
    print(value)

val1
val2
val3
val4

### For loop - enumeration

In [44]:
# enumerate goves up back tiple of index and value

g = ["red", "blue", "yellow"]
for item in g:
    print(item)

red
blue
yellow

In [25]:
# Refer to the index, 2-tuple is index and value we're looping thriugh

g = ["red", "blue", "yellow"]
for item in enumerate(g):
    print(item)

(0, 'red')
(1, 'blue')
(2, 'yellow')

In [26]:
# USEFUL for projects and going forward

g = ["red", "blue", "yellow"]

index_we_need = None    # example of not having val we need, and getting the val at that index

for index, value in enumerate(g):
    if value == 'yellow':
        index_we_need = index
        
g[index_we_need]

'yellow'

In [46]:
for index, value in enumerate(g):
    if value is 'yellow'
    print(index, 'has value:', value)

0 has value: red
1 has value: blue
2 has value: yellow

# List comprehensions

List comprehensions are a way of using control structures within lists to generate new lists

In [1]:
# create list first

h_letters = []

for letter in 'human':
    h_letters.append((letter, k))

print(h_letters)

NameError: name 'k' is not defined

In [51]:
h_letters = [ letter for letter in 'human' ]  # setting to list with for loop in it
print( h_letters)

['h', 'u', 'm', 'a', 'n']

In [52]:
h_letters = [ letter.upper() for letter in 'human' ]  # setting to list with for loop in it
print( h_letters)

['H', 'U', 'M', 'A', 'N']

In [53]:
h_letters = []

for letter in 'human':
    h_letters.append(letter.upper())

print(h_letters)

['H', 'U', 'M', 'A', 'N']

In [54]:
h_letters = []

for letter in 'human':
    h_letters.append(letter.isalnum())

print(h_letters)

[True, True, True, True, True]

In [56]:
h_letters = []

for letter in 'human':
    h_letters.append(letter.isdecimal())

print(h_letters)

[False, False, False, False, False]

In [57]:
h_letters = [ letter.upper() for letter in 'human' ]
print( h_letters)

['H', 'U', 'M', 'A', 'N']

### Example

In [ ]:
power_list = []
power_list

In [58]:
s = [x for x in range(10)]
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
power_list = [x**2 for x in range(10)]
power_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension with a list

In [64]:
s = [0, 1, 2, 3, 4, 5]
print(type(s))
q = [i * 4 for i in s]
q

<class 'list'>

[0, 4, 8, 12, 16, 20]

In [62]:
s = ['a', 'b', 'c', 'd', 'e', 'f']

q = [i * 4 for i in s]
q

['aaaa', 'bbbb', 'cccc', 'dddd', 'eeee', 'ffff']

### List Comprehension with a tuple

In [65]:
s = (True, False, True, True)
print(type(s))
q = [int(i) for i in s]
q

<class 'tuple'>

[1, 0, 1, 1]

### List Comprehension with a dictionary

In [68]:
s = {1: 'a', 2: 'b', 3: 'c'}
print(type(s))

print(s.items())
q = [k for k in s.items()]

q

<class 'dict'>
dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

[(1, 'a'), (2, 'b'), (3, 'c')]

In [63]:
s = {1: 'a', 2: 'b', 3: 'c'}
q = [elem for elem in s.items()]
q

[(1, 'a'), (2, 'b'), (3, 'c')]

In [69]:
s = {1: 'a', 2: 'b', 3: 'c'}
q = [k for k in s.keys()]
q

[1, 2, 3]

In [70]:
# list of values
s = {1: 'a', 2: 'b', 3: 'c'}
q = [k for k in s.values()]
q

['a', 'b', 'c']

In [72]:
#***  string for each of the items
s = {1: 'a', 2: 'b', 3: 'c'}
q = [f"{k}:{v}" for k,v in s.items()]   # unpacking of the tuple and use value in a f string
q

['1:a', '2:b', '3:c']

In [71]:
k,v = (1, 'a')
print(k,v)

1 a

In [74]:

s = [(1 ,'a'), (2 ,'b'), (3, 'c')]
q = {k:v for k,v in s}
q

{1: 'a', 2: 'b', 3: 'c'}

In [77]:
# dict comprehension
s = [(1 ,'a'), (2 ,'b'), (3, 'c')]
q = {k:v for k,v in s}
r = [f"{k}:{v}" for k,v in s]
print(q)
print(r)

{1: 'a', 2: 'b', 3: 'c'}
['1:a', '2:b', '3:c']

In [27]:
# dict comprehension
s = {1: 'a', 2: 'b', 3: 'c'}
q = {k:v for k,v in s.items()}
q

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# tup comprehension

### Example

In [30]:
# Tuple with tuples in it
# want to create list of each tupl for each tuple
# lets say in db, join 2 str for email


presidents = (('First', 'Last'), ('George', 'Washington'), ('Abraham', 'Lincoln'), ('Franklin', 'Roosevelt'), ('John', 'Kennedy'),('Lyndon', 'Johnson'), ('Jimmy', 'Carter'), ('Bill', 'Clinton'), ('Barack', 'Obama'), ('Joe', 'Biden'))

presidents

(('First', 'Last'),
 ('George', 'Washington'),
 ('Abraham', 'Lincoln'),
 ('Franklin', 'Roosevelt'),
 ('John', 'Kennedy'),
 ('Lyndon', 'Johnson'),
 ('Jimmy', 'Carter'),
 ('Bill', 'Clinton'),
 ('Barack', 'Obama'),
 ('Joe', 'Biden'))

In [31]:
# return a list of elements for each element in the tuple

full_names = [ x for x in presidents]
full_names

[('First', 'Last'),
 ('George', 'Washington'),
 ('Abraham', 'Lincoln'),
 ('Franklin', 'Roosevelt'),
 ('John', 'Kennedy'),
 ('Lyndon', 'Johnson'),
 ('Jimmy', 'Carter'),
 ('Bill', 'Clinton'),
 ('Barack', 'Obama'),
 ('Joe', 'Biden')]

In [32]:
full_names = [ first + ' ' for x in presidents]
full_names

NameError: name 'first' is not defined

In [33]:
full_names = [f"{first} {last}" for first, last in presidents]
full_names

['First Last',
 'George Washington',
 'Abraham Lincoln',
 'Franklin Roosevelt',
 'John Kennedy',
 'Lyndon Johnson',
 'Jimmy Carter',
 'Bill Clinton',
 'Barack Obama',
 'Joe Biden']

In [ ]:
#another way

In [87]:
full_names = [prez for prez in presidents]
full_names = [" ".join(prez) for prez in presidents]
#full_names = [' '.join(president) for president in presidents]
#full_names = [f"{first} {last}" for first, last in presidents]
full_names

['First Last',
 'George Washington',
 'Abraham Lincoln',
 'Franklin Roosevelt',
 'John Kennedy',
 'Lyndon Johnson',
 'Jimmy Carter',
 'Bill Clinton',
 'Barack Obama',
 'Joe Biden']

In [86]:
tup_b = ['a','b', 'c', 'd']

" ".join(tup_b)

'a b c d'

In [88]:
for elem in presidents:   # START HERE IN FIRST
    print(elem)

('First', 'Last')
('George', 'Washington')
('Abraham', 'Lincoln')
('Franklin', 'Roosevelt')
('John', 'Kennedy')
('Lyndon', 'Johnson')
('Jimmy', 'Carter')
('Bill', 'Clinton')
('Barack', 'Obama')
('Joe', 'Biden')

# Using If in lists

In [82]:
# examples using if in lists

list_a = [s for s in range(100) if s % 10 == 0]
list_a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### How can we add an else?

In [90]:
#TERNIARY OPERATOR

list_a = [s for s in range(10) if s % 2 == 0] 
list_a

[0, 2, 4, 6, 8]

In [89]:
list_a = [s for s in range(10) if s % 2 == 0 else] 
list_a

SyntaxError: invalid syntax (<ipython-input-89-37d113029db2>, line 1)

In [91]:
var_a = "hello" if 5>3 else 'goodbye'
var_a

'hello'

In [92]:
# for terniary 
#var_a = "hello" if 5>3 else 'goodbye'
#var_a

var_a = ["hello" if s<5 else 'goodbye' for s in range(10)]
var_a

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'goodbye',
 'goodbye',
 'goodbye',
 'goodbye',
 'goodbye']

In [ ]:
list_a = []     

for s in range(10):
    if s % 10 == 0:
        list_a.append(10)

In [ ]:
list_a = [s for s in range(10) if s % 10 == 0]

In [ ]:
list_a = ["hello" if s<5 else 'goodbye' for s in range(10)]

In [ ]:
list_a = []     

for s in range(10):
    vari = "hello" if s < 5 else "goodbye"
        list_a.append(vari)
        
list_a

### Example

In [35]:
a = ['23', 95, '4', 0x2ce, 9, '35', 'a', 40.0,]   # convert to list conprehension

In [38]:
list_a = [float(element) for element in a]
list_a

ValueError: invalid literal for int() with base 10: 'a'

In [96]:
list_a = [element for element in a ]
list_a

['23', 95, '4', 718, 9, '35', 'a', 40.0]

In [97]:
for element in a:
    print(element)

23
95
4
718
9
35
a
40.0

In [98]:
for element in a:
    float(element)

ValueError: could not convert string to float: 'a'

In [99]:
for element in a:
    print(element)
    float(element)     # a gave us the error

23
95
4
718
9
35
a

ValueError: could not convert string to float: 'a'

In [ ]:
for element in a:     # test for string 
    if type(element) == int:
        float(element)
    #elif <condition>: 
    else:

In [100]:
for element in a:     # test for string 
    if type(element) != int:
        print(element)
    else:             # only runs of other options are false
        float(element)   # set default to output float of element

23
4
35
a
40.0

In [101]:
# how to check, alpha method, still getting an 'a'

for element in a:     
    if element.isalpha():
        print(element)
    else:             
        float(element)

AttributeError: 'int' object has no attribute 'isalpha'

In [102]:
# try casting

for element in a:     
    if type(element) == str and element.isalpha():
        print(element)
    else:             
        float(element)

a

In [104]:
# cast a as a float


for element in a:     
    if type(element) == str and element.isalpha():
        ord(element)
    else:             
        float(element)

In [105]:
list_c = []

for element in a:     
    if type(element) == str and element.isalpha():
        list_c.append(float(ord(element)))
    else:             
        list_c.append(float(element))
        
list_c

[23.0, 95.0, 4.0, 718.0, 9.0, 35.0, 97.0, 40.0]

In [ ]:
# turn in terniary operator

#(float(ord(element))) is the terniary operator

list_c = []

for element in a:        
    var_s = float(ord(element)) if type(element) == str and element.isalpha() else float(element)
         
    list_c.append(var_s)
        
list_c

In [39]:
# On one line of Python

[float(ord(element)) if type(element) == str and element.isalpha() else float(element) for element in a]

[23.0, 95.0, 4.0, 718.0, 9.0, 35.0, 97.0, 40.0]