<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1> Week 3 - Day 1</h1>
</div>

## Objectives for this week:
* If Statements, If and Elif
* Conditional Statements, Nested Conditionals
* While & For loops, Nested Loops
* List Comprehension
* Dictionaries

## Todays Agenda
* Homework Presentations
* If statements, If and Elif
* Conditional statements, Nested Conditionals
* For loops introduction

<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Homework Presentations</h1>
</div>

# Exercise #1

### Given the following variable `money_moves`

In [3]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

### a. Print the list of unique elements. Then output the length.

In [5]:
# place code here
# Was supposed to turn everything to lowercase, then convert to a set

# Cast a list into a set

# convert the elements in lowercase

set(money_moves)

{'Diamonds',
 'FUR COATS',
 'MoNeY FaNs',
 'barrels of gold',
 'fur coats',
 'money fans'}

In [6]:
new_list = ['e1', 'e2', 'e3', 'e4', 'e5']
list(enumerate(new_list))

[(0, 'e1'), (1, 'e2'), (2, 'e3'), (3, 'e4'), (4, 'e5')]

### b. Set the 4th and 5th elements of the original list in lowercase. Pop that value and append it to the end of the list. Print the list.

### d. Create a new list, append odd number items from the original list`money_moves` and output the new list

In [ ]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

### e. Create a new dict. Add each item of `money_moves` to the dict using it's place in the list as the key for the dict. Print the dict.

In [ ]:
money_moves = ["fur coats","money fans","Diamonds","MoNeY FaNs","FUR COATS","barrels of gold"]

In [21]:
new_list = ['e1', 'e2', 'e3', 'e4', 'e5']
list(enumerate(new_list))

[(0, 'e1'), (1, 'e2'), (2, 'e3'), (3, 'e4'), (4, 'e5')]

In [22]:
list(enumerate(new_list))

[(0, 'e1'), (1, 'e2'), (2, 'e3'), (3, 'e4'), (4, 'e5')]

In [23]:
s = dict([(0, 'a'),(1, 'b')])
s

{0: 'a', 1: 'b'}

``iterable`` - 

list  is an iterable data set

``iterators`` - enumerate()

In [24]:
e = enumerate(new_list)

In [25]:
next(e)

(0, 'e1')

In [26]:
list(e)

[(1, 'e2'), (2, 'e3'), (3, 'e4'), (4, 'e5')]

In [27]:
#next(e)

In [28]:
def f():
    yield True
    
f()

In [29]:
# if we did this
# cannot change into dictionary that way
# WE NEED TO CAST IT
# list(e)   

d = {[(0, 'a'), (1, 'b')]}    # proper way d ={0:'a', 1: 'b', 2, 2: 'c'}
d

TypeError: unhashable type: 'list'

In [30]:
print(enumerate.__doc__)

Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...

What is hashable in python? can turn into something it can understand, then turn into a list

<div style="background: #000;
            color: #FFF;
            margin: 0 auto;

                ">
    <h1>Control Structures and Conditionals</h1>
</div>

# Control Structures and Conditionals

## Code blocks

A code block is a group of statements in code. In python, a code block is a group of statements with the same indentation

```python
    statement1
    statement2
    statement3
```

How would we run statement2 only if a condition is met in statement1? How would we go back to statement1 after statement3?

In software engineering,  we need a way to organize our code blocks into reuseable segments. Running or looping through statements based on conditions

## Control structures and conditionals are a way to set up the statements we've been using to go through specific steps based on conditions being met. 


## Examples of Control Structures in Python
* `if` statement - runs code **if** a condition is met
* `for` statement - runs code **for each** iteration that a condition isn't met.
* `while` statement - runs code **while** a condition isn't met


`if`

```python
    if True:
        print("Hello World")
```

`for`

```python
    for x in range(10):
        print("Hello World")
```

`while`
```python

    while True:
        print("Hello World")

```

# Conditionals

# `and`

In [ ]:
True and False

# `or`

In [ ]:
True or False

# `==`

In [32]:
s = True and True    # like idea of short-circuit
t = True or False
u = False
#not u
#s == t == not u   can't run like this
s == t and not u

True

In [33]:
s = "string"
t = "string"
u = s[0:3] + t[3:6]
s == t == u

True

In [34]:
s is t

True

In [35]:
s is u

False

In [44]:
s = "abcd"
t = "abcd"
u = "cdba"
#s == t == u "".join(sorted(u))
s == t == "".join(sorted(u))

True

In [38]:
s = 4
t = 4
u = 2
s == t == 2 * u

True

In [45]:
s = [3,4,5]
t = [3,4,5]
u = [3,5,4]
u.sort()
s == t == u

True

In [46]:
s = (0,1,3)
t = (0,1,3)
u = (0,1,2)

s == t == u

False

In [49]:
s = {'a':1, 'b':2}    # true, python going thru each e by referencing the keys
t = {'b':2, 'a':1}

print(s == t)   # elements of s are equivalent to t  NOT CHECKING FOR EXACT SAME OBJECT
id(s), id(t)   # different objects

True

(4465008960, 4465008704)

# `!=`

In [50]:
s = True
u = False
s != u
 #True because NOT equal

True

In [51]:
s = [0,1,2,3]
t = [0,2,1,3]

s != t

True

In [52]:
s = (0,1,3)
t = (0,1,2)

s != t

True

# `>`/`<`

In [53]:
True > False   # because 1 is greater than 0

True

In [54]:
"string5" > "string3"

True

In [57]:
[0,1,2,3,4] < [0,1,2,3,5]   # compare each element

True

In [58]:
[0,1,2,3,4,1,1] < [0,1,2,3,5]  # again compare the elements

True

In [59]:
(1,2,3) < (1,2,4)

True

VERY IMPORTANT

In [60]:
(1,2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4) # loops, minute it hits stops, short-circuits **

True

# `>=`/`<=`

In [61]:
True >= False

True

In [62]:
"string" >= "string"

True

In [63]:
ord('5'), ord('3')

(53, 51)

In [64]:
[0,1,2,3,4] >= [0,1,2,3]

True

In [65]:
(1,2, ('abc', 'ab')) >= (1, 2, ('abc', 'a'), 4)   # again short-circuit  D

True

Very important

In [66]:
[0,1,2,3,4] >= [0,1,2,3,3,2,3,5]    # again short-circuiting  ***

True

In [69]:
(1,2, ('abc', 'b')) >= (1, 2, ('abc', 'a'), 4)   # comparing strings for the ordinals

True

# `is`

In [74]:
a = 'string'
b = 'string'
c = "".join(['s', 't','r', 'i', 'n','g'])

#a == c

a is b

True

In [75]:
a = True   # a
a is True
a == True    # to use not u i

True

In [76]:
True is True     # only work

True

In [77]:
True is not False

True

In [78]:
True == not False

SyntaxError: invalid syntax (<ipython-input-78-ba472dcc1299>, line 1)

In [79]:
[] is None

False

In [80]:
None is None

True

In [ ]:
a = None
None is None

# `in`

In [81]:
"in" in "string"    # substring w/i larger string

True

In [82]:
4 in [1,2,3,4]   # in a list 
#4  not in [1,2,3,4]

True

In [83]:
4 in {3:'a', 4:'b'} # 4 is in the dictionary , CHECKING THE KEY

True

In [84]:
'a' in {3:'a', 4:'b'}   # A IS VAL IN DICT ,IN WITH DICTIONARY CHECK FOR THE KEYS, NOT VALUES

False

In [85]:
2 in (0,1,2)     # IN THE TUPLE

True

In [86]:
True not in [False, False, False]

True

# If statement

    c = bool_statement
    
    ...
    code block a
    ...
        
        if c:
            ...
            code block a
            ...
            

Remember when we covered (*insert logic problem reference here*)? 
We used multiple statements changing them based on the truth value

In [87]:
statement1 = False
print(statement1)
not statement1

False

True

## If statements allow us to control code execution based on whether or not statement has a certain truth value

# If Statements in python

In [89]:
s = "hello" if 5 > 3 else "goodbye"   # split, don't have to have else, unless in one line
s

'hello'

In [88]:
s = "hello" if 1 > 3 else "goodbye"
s

'goodbye'

In [ ]:
if statement1 is True:         # normal if statements in python
    print(statement2)
    
# above is valid python but not necessary

if statement1:
    print(statement2)

# What about "if not"

In [ ]:
statement1 = False
statement2 = "running statement2"
 
if not statement1:
    print(statement2)

# `elif` and `else`


```python

    if statement1:
        ...
        code block a
        ...
    elif statement2:
        ...
        code block b
        ...
    else:
        ...
        code block c
        ...
```

If statement 1 is true -> execute code block a  
If statement 2 is true -> execute code block b  
ELSE (if and only if the other two statements are false) -> execute code block c

In [ ]:
# What about non-binary cases? Or default statement?

# three colors

blue = "blue"
gray = "gray"
red = "red"

tshirt = "brown"

if tshirt is blue:
    print(blue)
elif tshirt is gray:
    print(grey)
elif tshirt is red:
    print(red)
else:
    print("who knows?")

# Example 1

In [ ]:
x = int(input("Please enter a temperature in F:"))

In [ ]:
# How we can get this to print the forecast?

# if, elif, else
    
print(x)
print("It's hot outside.")
print("It's cold outside.")
print("It's nice outside")

# Example 2 Nested conditionals

# How can we:
* print "negative" if a negative number
* print "positive" if a positive number
* convert values of a list to an integer

In [ ]:
s = [-34,20,['a', '3.0', 2],300,10,5]