<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 2 - Class 2</h1>
</div>

## Todays Agenda
* Homework Presentations
* Lists and indexing/operations
* Tuples
* Mutability

# Homework Presentations

# Exercise 4

Without actually using Python, determine what the following would evaluate
to in Python and explain step-by-step how you arrived at this answer:

    a. (1 or ((0 or 0) or 1)) or 1
    b. ((1 or 0) or 0 or 1) or 1
    c. 1 or 0 or 0 or 1 or 1
    
Change the following cells to markdown and fill your answer in them.

# Exercise 5

To convert Fahrenheit to Celsius, you use the following formula:

$$
    C^{\circ} = \frac{ (F^{\circ} - 32)}{1.8}
$$

Given a Fahrenheit input `temperature`, write some python statements to print the temperature in Celsius.

In [ ]:
temperature = input("Enter temperature in Fahrenheit: ")

### Note: In the following examples, `str` is used to denote a string. 

However, while python does allow us to set a value to a`reserved keyword`, this is generally a horrible idea. So keep in mind `str` here DOES NOT mean the type `str`.

---

### `str.endswith(suffix[, start[, end]]) -> bool`
Return True if S ends with the specified suffix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
suffix can also be a tuple of strings to try.

In [1]:
[i for i in dir(7) if not i.endswith(("__"))]

['as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [2]:
string = 'this is the sample string for the example'
#string.endswith('example')

string.endswith('string', 19)

#print(st.find('string'))
#string.endswith("string", 19,25)

True

---

### `str.find(sub[, start[, end]]) -> int`
Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.

In [3]:
"1 2 3 4 5 6 7 8 9 10".find("8") # positive loacation in the string

14

In [4]:
"1 2 3 4 5 6 7 8 9 10".find("8",0,14)  # slice before 14th index, returns -1 when not found in the string

-1

---

### `str.index(sub[, start[, end]]) -> int`

In [7]:
#string = "string with $100.00 inside and $1000.00"
string = 'string without what we-re looking for'

string.index("$100")   # find and index, essentially same but return on not finding, err vs -1

ValueError: substring not found

In [6]:
string = "0   4   8   12"

print(string.index("4"))

string.index('4', 4, 10)

4

4

---

### `str.join(iterable) -> str`
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: `'.'.join(['ab', 'pq', 'rs'])` -> `'ab.pq.rs'`

In [14]:
#iterable = ['1','2','3','4','5']   # string, list, dictionary(to a degree), tuple, list
#iterable = ('1','2','3','4','5')  #tuple
#iterable = {'1':'a', '2':'b', '3':'c', '4':'d', '5':'e'} #dictionary, iterate thru the keys
iterable = {'1','2','3','4','5'}  # set, similar to list and tuple
"".join(iterable)                 # join function will work for all of them

'35142'

In [12]:
iterable = ["this", "will", "be", "a", "sentence"]
" ".join(iterable)

'this will be a sentence'

In [15]:
iterable = ["this", "will", "print", "on many", "lines"]
print("\n".join(iterable))  # new line between the "\n"

this
will
print
on many
lines

---

### `str.partition(sep) -> tuple` 
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.

In [ ]:
"1,000".partition(',')

---

### `str.replace(find, replace[, count]) -> str`
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

In [ ]:
"The price is $1000".replace("$", "€")

In [ ]:
"$$$$$$$$$$".replace("$", "€", 5)

---

### `str.split(sep[, maxsplit]) -> list`

In [ ]:
"this is a long string".split(" ")

In [ ]:
"this,is,a,long,string".split(",", 10)

---

### `str.splitlines() -> list`
Return a list of the lines in the string, breaking at line boundaries.

Line breaks are not included in the resulting list unless keepends is given and true.'

In [ ]:
"string\nstring\nstring\n".split('\n')

---

### `str.endswith(prefix[, start[, end]]) -> bool`
Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [ ]:
[i for i in dir(7) if not i.startswith(("__"))]

In [ ]:
string = 'this is the sample string for the example'
#print(st.find('string'))
string.startswith("string", 19,25)

---

### `str.is_()` functions for strings

strings have various `is_` methods for checking various things:
* `isalnum()` - returns `True` if all characters in string is alpha-numeric
* `isalpha()` - returns `True` if all characters in string is an alphabetical string 
* `isascii()` - returns `True` if all characters in string are ASCII.
* `isdecimal()` - returns `True` if all characters are decimal.
* `isdigit()` - returns `True` if all characters are decimals, subscripts and superscripts
* `isidentifier` - returns `True` if string is a python identifier (e.g. variable name)
* `islower()` - returns `True` if all characters in string are lowercase
* `isnumeric()` - returns `True` for wider category of numeric numbers (

In [16]:
"abcdefg12345".isalnum()

True

In [ ]:
"abcd".islower()  #checks for all lower

In [ ]:
"a".isascii()

In [17]:
"12345".isdecimal()   #basically a number

True

In [18]:
string = "12345\u00B2"   #true superscript
print(string)
string.isdigit()

12345²

True

In [ ]:
random_named_variable = "string"

"random_named_variable".isidentifier()  # if reserved word in python for checking if python does not want you to use

In [19]:
'abc'.islower()

True

In [20]:
num = "\u2182"    #wider range of numeric values
print(num)
num.isnumeric()

ↂ

True

In [21]:
"0 2"[1].isspace()

True

In [22]:
"Welcome To Python".istitle()

True

In [23]:
"ABCDE".isupper()

True

---

# `is` 

`is` is a built in keyword in the python language.

`==` is used for equality. `is` is used for identity.

```python
    >>> a = [1, 2, 3]
    >>> b = [1, 2, 3]
    >>> a == b
    True
    >>> a is b
    False
   

```

In [28]:
a = [1,2,3]
b = [1,2,3]
a is b # --> False
a == b
id(a), id(b)

(4458917440, 4460165760)

In [32]:
a = True
#a is True
a is False

id(a), id(True)

(4426287888, 4426287888)

In [31]:
a = "string"
b = "string"
c = "".join(list("string"))
print(c)
b is a, c is b

string

(True, False)

# `in`

`in` is a built in keyword in the python language.

`in` is used to check if value is present in a sequence or to iterate through a sequence.

In [33]:
s = "red"
colors = ["red", "blue", "green"]
s in colors

True

In [ ]:
[i for i in range(10)]

In [35]:
#[i for i in range(10) if i % 2 == 0]  # if divisible by 2
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Continuing from Lists

# List operations

list operations:
* `+` - concatenation (adding lists together)
* `*` - multiply string
* `<` - works but not how we want
* `==` - tests equality of lists
* `<=` - see `<`
* `len(lst)` - returns length of list  
* `print(lst)` - prints list
* `sorted(lst)` - sorts list

In [96]:
l = [0,1,2,3,4,5]
m = [6,7,8,9,10]

l + m
print(l)
print(m)

[0, 1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [37]:
l = [0,1,2,3,4,5]

l * 2

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [38]:
l = [0,1,2,3,4,5]
m = [4, 5]

l * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [40]:
l = [6,3,4]
m = [5,4,4]
print(l>m)    #why? basically compare first value
l[0] > m[0]

True

True

In [41]:
l = [0,1,2,3,4,5]
len(l)

6

In [42]:
l = [0,1,2,3,4,5]
print(l)

[0, 1, 2, 3, 4, 5]

In [43]:
l = [4,3,5,0,1]
print(l)
sorted(l)   #for string will sort by the ordinal

[4, 3, 5, 0, 1]

[0, 1, 3, 4, 5]

In [44]:
l = ['ab', 'bc','de', 'ba' ]   #for str, comparisons between them, with the ordinals like str
sorted(l)

['ab', 'ba', 'bc', 'de']

In [45]:
l =[1, 'ab']     #error when different data types in a list
sorted(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [46]:
[ i for i in dir(list()) if not i.endswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### `lst.append()`

Append object to the end of the list.

In [47]:
l = list()   #empty list
l.append(1)
l

[1]

In [48]:
l = [] # also a empty list
l.append(5)   # back of the list, like to a file
l

[5]

### `lst.clear()`

Remove all items from list.

In [49]:
l = [0,1,2,3,4,5]
print(l)
l.clear()    # clear the whole list
l

[0, 1, 2, 3, 4, 5]

[]

### `lst.count()`
Return number of occurrences of value.

In [50]:
l = [2, 0, 7, 2, 3, 4, 2, 4, 5, 7]
l.count(2)

3

### `lst.extend()`

Extend list by appending elements from the iterable.

In [98]:
l = [1,2,3,4,5]
m = [5, -4, -3, -2, -1, 0]
m.extend(l)  # mutates, creating new list
# m + l      # NOT creating new list, addition returns with new content

### `lst.index(value)`

Return first index of value.

Raises ValueError if the value is not present.

In [55]:
# example index
l = [3, 8, 2, 1, 6, 5]
print(l.index(1))        #finding index for that value location
l[3]

3

1

### `lst.insert(index, value)`

Insert object before index.

In [57]:
# example insert
l = [0, 1, 2, 3, 4]
print(l)
l.insert(3, 0)
l

[0, 1, 2, 3, 4]

[0, 1, 2, 0, 3, 4]

### `lst.pop(index)`

Remove and return item at index (default last).\n\nRaises IndexError if list is empty or index is out of range.

In [59]:
# example pop
l = [0, 1, 2, 3, 4, 5]
s= l.pop()           #without val, pop off the back of the list, ie STACK last in first out
print(l,s)    # changes the list, refers to the index, CAN store the contents of the pop

# difference bet pop and del, del will not have reference, with pop can do something with it
# refer to it later

[0, 1, 2, 3, 4] 5

### `lst.remove(value)`
Remove first occurrence of value.  
Raises ValueError if the value is not present.

In [60]:
# example remove
l = [0, 1, 2, 3, 4, 5, 3]
print(l)
l.remove(3)   # only first one it finds, again mutating
l.remove(3)
l

[0, 1, 2, 3, 4, 5, 3]

[0, 1, 2, 4, 5, 3]

### `lst.reverse()`

Reverse *IN PLACE*.

In [61]:
# example reverse
l = [5, 4, 3, 2, 1]
l.reverse()
l

[1, 2, 3, 4, 5]

In [62]:
l = ['a', 'b', 'c', ['1','2', '3']]    # IN PLACE
l.reverse()    # mutates the list
l

[['1', '2', '3'], 'c', 'b', 'a']

### `lst.sort()`

Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.

In [63]:
# example sort
l = [3,4,2,5,1]
l.sort()       # this will mutate the list
l

[1, 2, 3, 4, 5]

In [64]:
l = ['ab', 'bd', 'db', 'cd', 'ad']
l.sort()
l

['ab', 'ad', 'bd', 'cd', 'db']

In [65]:
l = [
    #['name', 'class', 'grade'],
    ['john', 'data science', 97],
    ['jane', 'data science', 95],
    ['john', 'data science', 70],
    ['dave', 'data science', 98],
]
l.sort(key=lambda x: x[2])         # telling the sort functon, can sort by specific key
print(l)                           # lambda, way to create function on the fly

[['john', 'data science', 70], ['jane', 'data science', 95], ['john', 'data science', 97], ['dave', 'data science', 98]]

In [66]:
l = [
    #['name', 'class', 'grade'],
    ['john', 'data science', 97],
    ['jane', 'data science', 95],
    ['john', 'data science', 70],
    ['dave', 'data science', 98],
]
l.sort(key=lambda x: x[0])
print(l)

[['dave', 'data science', 98], ['jane', 'data science', 95], ['john', 'data science', 97], ['john', 'data science', 70]]

In [67]:
l = [1,2,3,4,5]
print(l)
m = l.copy()
m                # returning a new list

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

# Tuples

In [68]:
l = list(range(4))
print(l)

[0, 1, 2, 3]

In [69]:
l.append(4)
print(l)

[0, 1, 2, 3, 4]

In [70]:
s = tuple(range(4))
print(s)

(0, 1, 2, 3)

In [71]:
s.append(4)     # no attribute append
print(s)

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
s = tuple(range(4))   # does not support deletion
del s[3]

TypeError: 'tuple' object doesn't support item deletion

In [74]:
l = (0,1,2,3)
tuple(l)
list(tuple(l))

[0, 1, 2, 3]

In [75]:
s = (0,1,2,3,4)
s[0] = 3

TypeError: 'tuple' object does not support item assignment

In [76]:
def func():          
    return 0, 1, 2

In [77]:
val = func()   # setting what it returns to val, with () run the function
print(type(val))
print(val)   #return as a tuple

<class 'tuple'>
(0, 1, 2)

In [78]:
val1, val2, val3 = func()    # UNPACKING - the tuple 
print(type(val1))
print(val1, val2, val3)

<class 'int'>
0 1 2

In [79]:
1,2,3    #returns a tuple

(1, 2, 3)

In [83]:
# packing and unpacking tuple

# built into python, what happens to all tuples in the course, garbage collected, clears out memory * research this

#y = ('1st', '2nd', '3rd', '4th')
y = '1st', '2nd', '3rd', '4th'      # packing a tuple    
#type(y)
#one, two, three, four = y
#one, two, three = y          #will get an error
#one, two, three, four

tuple

In [85]:
x = '5', '6', '7', '8'

In [86]:
y = one, two, three, four
print(y)

('1st', '2nd', '3rd', '4th')

In [87]:
[i for i in dir(tuple) if not i.endswith('__')]

['count', 'index']

### `tup.count(value)`

Return number of occurrences of value.

In [88]:
l = (3, 4, 5, 3, 6, 7, 8)
l.count(3)

2

In [92]:
l = (0,1,2,3)
m = (4,5,6,7)

m      # new tuple with the same data

id(l), id(m)

(4460341984, 4460331392)

### `tup.index(value)`

Return first index of value.

Raises ValueError if the value is not present.

In [90]:
# example of index()
l = (3, 4, 5, 3, 6, 7, 8)
l.index(4)
#l.index(25)

1

# Code Along


Given the following matrix, find the determinant:
$$
\begin{equation*}
A = 
\begin{vmatrix}
1 & 2 \\
3 & 4 \\
\end{vmatrix}
\end{equation*}
$$
The determinant of a matrix is calculated as follows:
$$
\begin{equation*}
det(A) = 
\begin{vmatrix}
a & b \\
c & d\\
\end{vmatrix}
= ad
- bc
\end{equation*}
$$

determinant -> linear algebra

In [93]:
# [ 1, 2 ]
# [ 3, 4 ]

A = [[1,2],[3,4]]
print(A)

[[1, 2], [3, 4]]

In [94]:
a = A[0][0]
b = A[0][1]
c = A[1][0]
d = A[1][1]
a,b,c,d

(1, 2, 3, 4)

In [95]:
determinant = a*d -b*c
determinant

-2